# Table data

## 0. Imports

In [6]:
import pandas as pd
import numpy as np
import os, csv

def to_csv(df, name):
    df.to_csv(name, index = False)

## 1. Generate `all.csv`

The `all.csv` dataset contains all the tables from the `full_1634313571272.xlsx` excel file joined together. Some of tables in this excel file have the same name, but different meanings. To distinguish them, every column of the `all.csv` has a number next to it, represeting the number of its corresponding table.

In [7]:
def get_all(dirname: str = "data"):
    all_tables = pd.DataFrame({})
    for file in sorted(os.listdir(f"../table-data/{dirname}/CSVs")):
        if file != "data-merged.csv":
            table = pd.read_csv(f"../table-data/{dirname}/CSVs/"+file)
            i     = int(file.split("-")[0])
            for col in table.columns:
                all_tables[f"{col}-{i}"] = table[col]
    return all_tables

all_tables  = get_all("data")
all_tables2 = get_all("data2")

## 2. Filter `all.csv`

We are only interested in some of the variables from `all.csv`. Since the target variable is the 3 month rankin score, all the variables collected after this moment are discarded. Additionally, variables that directly identify the patient (like its name initials) are discarded. 

The following is the list of variables we want to keep for each of the tables whose content was recorded before the 3 month mark.

In [8]:
tables = {}
tables["01-GERAL"]                                 = ["numRegistoGeral-1", "idProcessoLocal-1", "dataNascimento-1", 
                                                      "altura-1", "peso-1", "genero-1", "etnia-1", "viveSozinho-1", 
                                                      "escola-1"]
tables["02-ANTECEDENTES-PESSOAIS"]                 = ["hiperTen-2", "diabetes-2", "dislip-2", "avcIsqPre-2", 
                                                      "avcHemPre-2", "aitPre-2", "apnSono-2", "insCard-2", 
                                                      "cardIsq-2", "doeArt-2", "infecao-2", "histFam-2", 
                                                      "estMenP-2", "tabag-2", "alcool-2", "rankin-2"]
tables["04-CARACTERIZACAO-AVC"]                    = ["dataAVC-4", "avcAcordar-4", "instAVCpre-4", "defMaxIn-4", 
                                                      "melSintIn-4", "cefaleia-4", "criseEpi-4", "hemoAd-4", 
                                                      "hemat-4", "inrAd-4", "gliceAd-4"]
tables["05-CARACTERIZACAO-AVC - NIHSS"]            = ["afasia-5", "loc-5", "com-5", "ling-5", "paresia-5", "face-5", 
                                                      "memSE-5", "memSD-5", "memIE-5", "memID-5", "altCons-5", 
                                                      "altMovOc-5", "altVis-5", "atax-5", "hipos-5", "disartia-5", 
                                                      "inatencao-5", "totalNIHSS-5", "disf-5", "incUri-5", 
                                                      "preArtSis-5", "preArtDia-5", "ritmoCardECG-5"]
tables["07-IMAGEM INICIAL - TCCE"]                 = ["aspects-7", "ouTerrIsq-7", "ouTerrIsqL-7", "ouTerrIsqOutro-7",
                                                      "sinCorda-7", "lacAnt-7", "lacAntL-7", "leucoa-7", "enfAnt-7", 
                                                      "enfAntL-7", "enfAntOutro-7", "data-7"]
tables["08-IMAGEM INICIAL - AngioTCCE"]            = ["colaCTA1-8", "colaCTA2a-8", "colaCTA2b-8"]
tables["09-IMAGEM INICIAL - AngioTCCE - Estenose"] = ["ocEst-9", "localiz-9", "lado-9"]
tables["10-IMAGEM INICIAL - AngioTCCE - Oclusao"]  = ["ocEst-10", "localiz-10", "lado-10"]
tables["11-TRATAMENTO AGUDO AVC"]                  = ["rtPA-11", "tromb-11", "recaTIC-11"]
tables["15-AVALIACAO CLINICA 24H - NIHSS"]         = ["afasia-15", "loc-15", "com-15", "ling-15", "paresia-15", 
                                                      "face-15", "memSE-15", "memSD-15", "memIE-15", "memID-15", 
                                                      "altCons-15", "altMovOc-15", "altVis-15", "atax-15", 
                                                      "hipos-15", "disartia-15", "inatencao-15", "totalNIHSS-15", 
                                                      "disf-15", "incUri-15", "preArtSis-15", "preArtDia-15", 
                                                      "ritmoCardECG-15"]
tables["18-ALTA"]                                  = ["destino-18", "rankin-18"]
tables["19-ALTA - NIHSS"]                          = ["afasia-19", "loc-19", "com-19", "ling-19", "paresia-19", 
                                                      "face-19", "memSE-19", "memSD-19", "memIE-19", "memID-19", 
                                                      "altCons-19", "altMovOc-19", "altVis-19", "atax-19", 
                                                      "hipos-19", "disartia-19", "inatencao-19", "totalNIHSS-19", 
                                                      "disf-19", "incUri-19", "preArtSis-19", "preArtDia-19", 
                                                      "ritmoCardECG-19"]
tables["20-ALTA - MOCA"]                           = ["capVis-20", "nomea-20", "atencao-20", "ling-20", "abst-20", 
                                                      "evoDif-20", "orien-20", "total-20"]
tables["21-ALTA - HADS"]                           = ["valorP1-21", "valorP2-21", "valorP3-21", "valorP4-21", 
                                                      "valorP5-21", "valorP6-21", "valorP7-21", "valorP8-21", 
                                                      "valorP9-21", "valorP10-21", "valorP11-21", "valorP12-21", 
                                                      "valorP13-21", "valorP14-21", "totalA-21", "totalD-21"]
tables["22-ALTA - MINI MENTAL STATE"]              = ["ori1-22", "ori2-22", "ret-22", "atCal-22", "evo-22", 
                                                      "ligA-22", "ligB-22", "ligC-22", "ligD-22", "ligE-22", 
                                                      "hab-22", "total-22"]
tables["23-AVALIACAO 3 MESES"]                     = ["rankin-23"]

Now we can filter the `all.csv` using these variables list:

In [9]:
variables        = [v for t in tables for v in tables[t]]
tables_filtered  = pd.DataFrame(all_tables[variables])
tables_filtered2 = pd.DataFrame(all_tables2[variables])
print(f"Using {len(variables)} variables")
tables_filtered.shape, tables_filtered2.shape

Using 168 variables

((840, 168), (743, 168))

### 2.2. Joining the rows from `data` and `data2`

In [10]:
to_add = []
for id_ in tables_filtered["idProcessoLocal-1"].values:
    if id_ not in tables_filtered2["idProcessoLocal-1"].values:
        to_add.append(id_)
del to_add[to_add.index("MLPC")]
to_add = tables_filtered[tables_filtered["idProcessoLocal-1"].isin(to_add)]
tables_filtered = pd.concat([tables_filtered2, to_add])
tables_filtered

,numRegistoGeral-1,idProcessoLocal-1,dataNascimento-1,altura-1,peso-1,genero-1,etnia-1,viveSozinho-1,escola-1,hiperTen-2,...,atCal-22,evo-22,ligA-22,ligB-22,ligC-22,ligD-22,ligE-22,hab-22,total-22,rankin-23
0,1,1876470,1938-01-30 00:00:00,167,74,2,1,1,2,1,...,5,2,2,1,0,1,0,0,24,2
1,19,2417839,1946-07-11 22:59:59.997000,154,69,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,4
2,221,2458157,1931-07-17 22:59:59.997000,172,84,2,1,0,3,1,...,5,2,2,1,3,1,1,1,29,1
3,222,31064,1939-08-19 22:59:59.997000,158,60,1,1,0,2,1,...,0,0,0,0,0,0,0,0,0,2
4,223,1291521,1939-02-08 00:00:00,167,78,2,1,0,2,1,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,836,5032101,1952-06-13 22:59:59.997000,160,62,2,1,1,4,0,...,0,0,0,0,0,0,0,0,0,0
836,837,18027449,1938-11-22 00:00:00,161,63,1,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
837,838,18027709,1968-04-15 22:59:59.997000,170,95,2,1,0,4,1,...,0,0,0,0,0,0,0,0,0,None
838,839,18027953,1934-03-09 00:00:00,178,90,2,1,1,3,1,...,0,0,0,0,0,0,0,0,0,2
839,840,95001562,1973-02-22 22:59:59.997000,173,70,2,1,1,3,0,...,0,0,0,0,0,0,0,0,0,1

### 2.3. Fix some patients

In [11]:
tables_filtered.loc[tables_filtered["idProcessoLocal-1"] == "14444225", "idProcessoLocal-1"] = "1444225"

### 2.4. Assert repeated

In [14]:
nrg = tables_filtered["idProcessoLocal-1"].values
values, count = np.unique(nrg, return_counts=True)
dup = values[count > 1]
print(len(dup), "repeated entries")
tables_filtered.drop(tables_filtered[tables_filtered["idProcessoLocal-1"].isin(dup)].index, inplace = True)

0 repeated entries

## 3. Add `NCCT` and `CTA` columns

Add these two columns that when they are 1, its corresponding patient has the corresponding CT scan and when they are 0, they don't.

In [15]:
nccts     = [file[:-4] for file in os.listdir("../../data/gravo/NCCT") if (file.endswith(".nii") and not "-" in file)]
ctas      = [file[:-4] for file in os.listdir("../../data/gravo/CTA") if (file.endswith(".nii") and not "-" in file)]
has_ncct  = []
has_cta   = []
scans     = pd.read_csv("../../data/gravo/gravo.csv")

for _, row in tables_filtered.iterrows():
    patient_id = row["idProcessoLocal-1"]
    if patient_id in nccts:
#         has_ncct.append( scans[scans["idProcessoLocal"] == int(patient_id)]["NCCT"].values[0] )
        has_ncct.append("OK")
    else:
        has_ncct.append("missing")
    if patient_id in ctas:
#         has_cta.append( scans[scans["idProcessoLocal"] == int(patient_id)]["CTA"].values[0] )
        has_cta.append("OK")
    else:
        has_cta.append("missing")
    
tables_filtered["NCCT"] = has_ncct
tables_filtered["CTA"]  = has_cta
tables_filtered

,numRegistoGeral-1,idProcessoLocal-1,dataNascimento-1,altura-1,peso-1,genero-1,etnia-1,viveSozinho-1,escola-1,hiperTen-2,...,ligA-22,ligB-22,ligC-22,ligD-22,ligE-22,hab-22,total-22,rankin-23,NCCT,CTA
0,1,1876470,1938-01-30 00:00:00,167,74,2,1,1,2,1,...,2,1,0,1,0,0,24,2,OK,OK
1,19,2417839,1946-07-11 22:59:59.997000,154,69,1,1,0,1,1,...,0,0,0,0,0,0,0,4,OK,OK
2,221,2458157,1931-07-17 22:59:59.997000,172,84,2,1,0,3,1,...,2,1,3,1,1,1,29,1,OK,OK
3,222,31064,1939-08-19 22:59:59.997000,158,60,1,1,0,2,1,...,0,0,0,0,0,0,0,2,OK,OK
4,223,1291521,1939-02-08 00:00:00,167,78,2,1,0,2,1,...,0,0,0,0,0,0,0,3,OK,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,836,5032101,1952-06-13 22:59:59.997000,160,62,2,1,1,4,0,...,0,0,0,0,0,0,0,0,missing,missing
836,837,18027449,1938-11-22 00:00:00,161,63,1,1,0,2,0,...,0,0,0,0,0,0,0,0,missing,missing
837,838,18027709,1968-04-15 22:59:59.997000,170,95,2,1,0,4,1,...,0,0,0,0,0,0,0,None,missing,missing
838,839,18027953,1934-03-09 00:00:00,178,90,2,1,1,3,1,...,0,0,0,0,0,0,0,2,missing,missing
839,840,95001562,1973-02-22 22:59:59.997000,173,70,2,1,1,3,0,...,0,0,0,0,0,0,0,1,missing,missing

## ASSERT AUGMENTATIONS

In [16]:
for ncct in nccts:
    for augmentation in ["RandomAffine", "RandomElasticDeformation", "RandomFlip", "RandomNoise"]:
        if not os.path.isfile(f"../../data/gravo/NCCT/{ncct}-{augmentation}.nii"):
            print(f"{ncct} missing {augmentation}")

## 4. Add `visible` column

[*Cryptogenic stroke accounts for 30% to 40% of ischemic stroke.*](https://www.ahajournals.org/doi/10.1161/circresaha.116.308447) Cryptogenic strokes are strokes whose cause is unknown. It is not reasonable to ask the model to predict the clinical outcome of the patient if there are no anatomical changes to the patient's brain.

For this reason, this section adds the `visible` column which is 1 if the stroke is *visible* in the CT scan and 0 otherwise.

### 4.1. Fix column `ouTerrIsq-7`

*São 4 booleans, os que só têm 3 vêm de uma versão antiga e podem ser convertidos para a nova adicionando um boolean a "false" ao início. O array de booleans tem a seguinte legenda: ['Não', 'ACA', 'ACP', 'VB']*

*Sendo que se o "Não" estiver seleccionado nenhum dos outros pode estar e vice-versa.*

In [17]:
col = tables_filtered["ouTerrIsq-7"].values
for i in range(len(col)):
    if col[i] != "None":
        s = col[i].split(",")
        if len(s) == 3:
            if "true" in s:
                col[i] = "false," + col[i]
            else:
                col[i] = "true," + col[i]
tables_filtered["ouTerrIsq-7"] = col

### 4.?. Add the new column to `tables_filtered`

In [18]:
def is_visible(row):
    if row["aspects-7"] == "11":
        print("wtf")
    if (row["aspects-7"] != "None") and (row["aspects-7"] != "10"):
        return 1
    if ((row["ouTerrIsq-7"] != "None") and
       (row["ouTerrIsq-7"] != "true,false,false,false") and (row["ouTerrIsq-7"] != "false,false,false,false")):
        return 1
    if row["ouTerrIsqOutro-7"] != "None":
        return 1
    if (row["sinCorda-7"] != "None") and (row["sinCorda-7"] != "0"):
        return 1
    if (row["lacAnt-7"] != "None") and (row["lacAnt-7"] != "0"):
        return 1
    if (row["enfAnt-7"] != "None") and (row["enfAnt-7"] != "false,false,false,false,false,false,false,false,false"):
        return 1
    if (row["leucoa-7"] != "None") and (row["leucoa-7"] != "0") and (row["leucoa-7"] != "1"):
        return 1
    if row["enfAntOutro-7"] != "None":
        return 1
    if ((row["aspects-7"] == "None") or
        (row["ouTerrIsq-7"] == "None") or
        (row["sinCorda-7"] == "None") or
        (row["lacAnt-7"] == "None") or
        (row["enfAnt-7"] == "None") or
        (row["leucoa-7"] == "None")):
        return None
    return 0

visible = []
tables_filtered.loc[tables_filtered["aspects-7"] == "11", "aspects-7"] = "None"
for _, row in tables_filtered.iterrows():
    v = is_visible(row)
    if v is None:
        visible.append("missing")
    else:
        visible.append( v )
tables_filtered["visible"] = visible

Interpretation of the results

In [19]:
ones = len(tables_filtered[tables_filtered["visible"] == 1])
zeros = len(tables_filtered[tables_filtered["visible"] == 0])
missing = len(tables_filtered[tables_filtered["visible"] == "missing"])
ones, zeros, missing

(474, 206, 154)

In [20]:
ncct_patients = tables_filtered[tables_filtered["NCCT"] != "missing"]
ncct_no_visible_stroke = ncct_patients[ncct_patients["visible"] == 0]
ncct_visible_stroke = ncct_patients[ncct_patients["visible"] == 1]
ncct_visible_missing = ncct_patients[ncct_patients["visible"] == "missing"]
print("There are", len(ncct_no_visible_stroke), " NCCT scans where no stroke evidence is visible")
print("This corresponds to", round(len(ncct_no_visible_stroke)*100/(len(ncct_patients)-len(ncct_visible_missing)),2), 
      "% of the patients that have a labeled NCCT exam")
print("There are", len(ncct_visible_missing), 
      f"({round(len(ncct_visible_missing)*100/len(ncct_patients),2)}%)", 
      "patients with NCCT exam whose 'visible' variable can't be determined")
rankin = ncct_no_visible_stroke["rankin-23"].values
rankin = [11 if r == "None" else int(r) for r in rankin]
np.bincount(rankin)

There are 136  NCCT scans where no stroke evidence is visible
This corresponds to 30.7 % of the patients that have a labeled NCCT exam
There are 76 (14.64%) patients with NCCT exam whose 'visible' variable can't be determined

array([54, 26, 23, 10,  3,  1,  6,  0,  0,  0,  0, 13])

In [2]:
# pd.set_option('display.max_rows', None)
# ncct_visible_stroke[["idProcessoLocal-1", "aspects-7", "ouTerrIsq-7", "sinCorda-7", "lacAnt-7", "enfAnt-7", 
#                         "leucoa-7"]]

## 5. Add `del` column

I doubt the `visible` column of some patients is correct. The `del` column has the value 1 for these patients.

In [24]:
some_issue = [2333174, 2460912, 1903377, 2111942, 969574, 358356, 1845987, 1345756, 1185684, 2496220, 458702, 
              1735804, 200071, 1728135, 163503, 2512439, 2513149, 2398584, 2518995, 391099, 1106214, 732666, 2527998, 
              2530617, 273829, 2532348, 2517563, 2538003, 678373, 1848736, 1273819, 1360537, 2560669, 1044782, 
              1748455, 2582623, 732695, 1630009, 2431482, 2602035, 2605857, 376884, 844174, 2622864, 2094918, 779547, 
              603780, 2630659, 2216920, 2366619, 2209090, 884567, 506283, 2651192, 2114900, 2483802, 1425080, 502260, 
              51964, 131413, 1144096, 2675832, 630847, 990410, 243629, 2687116, 2450851, 2451022, 971116, 2629206, 
              958707, 210117, 13]
del_col    = []
for _, row in tables_filtered.iterrows():
    if int(row["idProcessoLocal-1"]) in some_issue:
        del_col.append(1)
    else:
        del_col.append(0)
del_col

ValueError: invalid literal for int() with base 10: 'X'

## 6. Export csv

In [17]:
tables_filtered.rename(columns = {"idProcessoLocal-1": "idProcessoLocal"}, inplace = True)
to_csv(tables_filtered, "table_data.csv")

### 6.1. Move to the `gravo` folder

In [18]:
mv table_data.csv ../../data/gravo